.vs/
Simple2DAreaSeriesTutorial_WF/bin/
Simple2DAreaSeriesTutorial_WF/obj/
Simple2DAreaSeriesTutorial_WPF_NB/bin/
Simple2DAreaSeriesTutorial_WPF_NB/obj/
Simple2DAreaSeriesTutorial_WPF_SB/bin/
Simple2DAreaSeriesTutorial_WPF_SB/obj/
